@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

:root {
  --clr-background-1: #FFFFFF;

  --clr-accent-1: #485C11;
  --clr-accent-2: #DFECC6;
  --clr-accent-3: #8E9C78;
  --clr-accent-4: #000000;
  --clr-accent-5: #6F6F6F;
  --clr-accent-6: #929292;

  --clr-headline: #000000;
  --clr-paragraph: #6F6F6F;
  --clr-caption: #485C11;
  --clr-link: #000000;
  --clr-on-accent-1: #FFFFFF;

  --clr-divider: #E9E9E9;

  --ff-crimson-text: "Crimson Text", serif;
  --ff-dm-sans: "DM Sans", sans-serif;
  --ff-roboto-mono: "Roboto Mono", monospace;

  --fs-900: 4.75rem;
  --fs-800: 4rem;
  --fs-700: 3.125rem;
  --fs-500: 2rem;
  --fs-400: 1.125rem;
  --fs-300: 0.9375rem;
  --fs-200: 0.875rem;
  --fs-100: 0.75rem;

  --fw-regular: 400;
  --fw-medium: 500;
  --fw-bold: 700;
}

@media (min-width: 50rem) {
  :root{
    --fs-900: 8.75rem;
    --fs-800: 5rem;
    --fs-700: 3.75rem;
    --fs-500: 2.5rem;
  }
}

@media (min-width: 80rem) {
  :root{
    --fs-900: 10rem;
    --fs-800: 5rem;
    --fs-700: 3.75rem;
    --fs-500: 2.5rem;
  }
}


/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

html, body {
  height: 100%;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  padding: 0 1rem 1.25rem;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture,
svg {
  max-width: 100%;
  display: block;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

.whole-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header {
  width: 100%;
  position: relative;
}

.nav-bar, main, footer {
  max-width: 93.75rem;
}

.nav-bar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 1.625rem 0 0 0;
}

.bar-1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-list {
  display: flex;
  gap: 1.6875rem;
}

.logo {
  font-family: var(--ff-dm-sans);
  font-size: 30px;
  font-weight: var(--fw-medium);
  text-decoration: none;
  color: var(--clr-accent-4);
  letter-spacing: calc(30px * -0.08);
}

.mobile-nav-toggle {
  display: none;
}

@media (min-width: 50rem) {
  body {
    padding: 0 2.5rem 2.5rem;
  }

  header {
    min-height: 9.25rem;
  }

  .nav-bar {
    flex-direction: row;
    align-items: center;
  }

  .primary-navigation {
    position: fixed;
    top: 1.1rem;
    left: 50%;
    background-color: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(0.95rem);
    display: flex;
    justify-content: space-between;
    transform: translateX(-50%);
    z-index: 100;
    padding: 1.25rem 1.5rem;
    border-radius: 12rem;
    border: none;
  }
  
  .primary-navigation li a {
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
    transition: 0.5s ease;
  }
  
  .primary-navigation li a:hover, .primary-navigation li a:focus, .primary-navigation li a:active {
    color: var(--clr-accent-6);
  }

}

@media (max-width: 49.96875rem) {
  header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: 1000;
    filter: drop-shadow(0 0.2em 0.125rem rgba(0, 0, 0, 0.1));
  }
  
  .nav-bar {
    width: 100%;
    background-color: var(--clr-background-1);
    border-radius: 0 0 2rem 2rem;
    padding: 1.25rem;
  }
  
  .bar-1 {
    width: 100%;
  }
  
  .bar-2 {
    visibility: hidden;
    display: flex;
    flex-direction: column;
    align-items: start;
    max-height: 0;
    gap: 3.125rem;
    width: 100%;
    overflow: hidden;
    transition: none;
  }
  
  .bar-2[data-visible] {
    visibility: visible;
    max-height: 100vh;
    padding-bottom: 0.75rem;
    transition: max-height 0.6s ease;
  }

  .bar-2[data-visible] .nav-list{
    flex-direction: column;
    gap: 0;
    margin-top: 2rem;
  }

  .bar-2[data-visible] .primary-navigation {
    width: 100%;
  }

  .bar-2[data-visible] li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 5rem;
    border-top: var(--clr-divider) 2px solid;
  }
  
  .mobile-nav-toggle {
    display: block;
    cursor: pointer;
    background: transparent;
    border: 0;
    width: 1.125rem;
    padding: 0.5rem;
    background: center / contain no-repeat url("/hamburger.png");;
  }

  .mobile-nav-toggle[aria-expanded="true"] {
    background-image: url("/cross.svg");
  }

  main {
    margin-top: 7.5rem;
  }
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 7.5rem;
  overflow: hidden;
}

.hero-text {
  text-align: center;
  padding: 0;
}

.green-rect {
  background-color: var(--clr-accent-3);
  border-radius: 1.875rem;
  position: relative;
  height: 22.625rem;
}

.green-rect img {
  width: 16.875rem;
  margin: auto;
  position: relative;
  top: -3.0625rem;
}

@media (min-width: 50rem) {
  .hero {
    gap: 8.75rem;
  }

  .green-rect img {
    width: 42.28125rem;
    top: -3.75rem;
  }
}

@media (min-width: 80rem) {
  .hero {
    gap: 15rem;
  }
  
  .green-rect img {
    width: 56.6875rem;
    top: -8.75rem;
  }
}

.lm-button {
  display: flex;
  align-items: center;
  gap: 0.125rem;
  padding: 0.875rem 1.375rem;
  background-color: var(--clr-accent-1);
  border-radius: 1000px;
}

.lm-button img {
  transition: transform 0.2s ease;
}

.lm-button:hover {
  background-color: var(--clr-accent-3);
}

.lm-button:hover img {
  transform: translateY(-0.25rem);
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 0;
}

.web-section {
  transform: translateY(10px);
  opacity: 0;
  transition: 0.8s ease;
}

footer.web-section {
  transform: none;
  opacity: 0;
  transition: 0.8s ease;
}

.web-section--visible {
  transform: translateY(0px);
  opacity: 1;
}

footer.web-section.web-section--visible {
  opacity: 1;
}

.partner {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  gap: 1.875rem;
  padding: 3.125rem 0;
}

.partner-list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.partner-list div {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.25rem;
}

.partner-list img {
  display: inline-block;
  width: 6.875rem;
  filter: brightness(0.6) saturate(1.5);
}

@media (min-width: 80rem) {
  .partner-list img {
    width: 7.125rem;
  }
}

/* utility classes */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.text-display {
  font-family: var(--ff-crimson-text);
  font-size: var(--fs-900);
  font-weight: var(--fw-regular);
  line-height: calc(var(--fs-900) * 0.85);
  letter-spacing: calc(var(--fs-900) * -0.045);
}

.text-display-statistics {
  font-family: var(--ff-dm-sans);
  font-size: var(--fs-800);
  font-weight: var(--fw-regular);
  line-height: calc(var(--fs-800) * 1);
  letter-spacing: calc(var(--fs-800) * -0.04);
}

.text-heading-1 {
  font-family: var(--ff-crimson-text);
  font-size: var(--fs-700);
  font-weight: var(--fw-regular);
  line-height: calc(var(--fs-700) * 0.95);
  letter-spacing: calc(var(--fs-700) * -0.03);
}

.text-heading-2 {
  font-family: var(--ff-crimson-text);
  font-size: var(--fs-500);
  font-weight: var(--fw-regular);
  line-height: calc(var(--fs-500) * 1.1);
  letter-spacing: calc(var(--fs-500) * -0.04);
}

@media (min-width: 50rem) {
  .text-display {
    line-height: calc(var(--fs-900) * 0.80);
    letter-spacing: calc(var(--fs-900) * -0.05);
  }

  .text-heading-1 {
    line-height: calc(var(--fs-700) * 0.90);
    letter-spacing: calc(var(--fs-700) * -0.03);
  }
}

@media (min-width: 80rem) {
  .text-display {
    letter-spacing: calc(var(--fs-900) * -0.05);
  }

  .text-heading-1 {
    line-height: calc(var(--fs-700) * 0.9);
  }

  .text-heading-2 {
    line-height: calc(var(--fs-500) * 1.05);
  }
}

.text-heading-3 {
  font-family: var(--ff-crimson-text);
  font-size: var(--fs-400);
  font-weight: var(--fw-regular);
}

.text-paragraph {
  font-family: var(--ff-dm-sans);
  font-size: var(--fs-300);
  font-weight: var(--fw-regular);
}

.text-link {
  font-family: var(--ff-dm-sans);
  font-size: var(--fs-200);
  font-weight: var(--fw-bold);
  text-decoration: none;
  color: var(--clr-link);
}

.text-link:hover, .text-link:active {
  color: var(--clr-accent-6);
}

.text-caption {
  font-family: var(--ff-roboto-mono);
  font-size: var(--fs-100);
  font-weight: var(--fw-regular);
}

.bg-neutral-1 {
  background-color: var(--clr-background-1);
}

.bg-accent-1 {
  background-color: var(--clr-accent-1);
}

.bg-accent-2 {
  background-color: var(--clr-accent-2);
}

.bg-accent-3 {
  background-color: var(--clr-accent-3);
}

.bg-accent-4 {
  background-color: var(--clr-accent-4);
}

.bg-accent-5 {
  background-color: var(--clr-accent-5);
}

.bg-accent-6 {
  background-color: var(--clr-accent-6);
}

.clr-text-headline {
  color: var(--clr-headline);
}

.clr-text-paragraph {
  color: var(--clr-paragraph);
}

.clr-text-caption {
  color: var(--clr-caption);
}

.clr-text-link {
  color: var(--clr-link);
}

.clr-text-on-accent-1 {
  color: var(--clr-on-accent-1);
}

.border-divider {
  border-color: var(--clr-divider);
}