@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

:root {
  --clr-background-1: #FFFFFF;

  --clr-accent-1: #485C11;
  --clr-accent-2: #DFECC6;
  --clr-accent-3: #8E9C78;
  --clr-accent-4: #000000;
  --clr-accent-5: #6F6F6F;
  --clr-accent-6: #929292;

  --clr-headline: #000000;
  --clr-paragraph: #6F6F6F;
  --clr-caption: #485C11;
  --clr-link: #000000;
  --clr-on-accent-1: #FFFFFF;

  --clr-divider: #E9E9E9;

  --ff-crimson-text: "Crimson Text", serif;
  --ff-dm-sans: "DM Sans", sans-serif;
  --ff-roboto-mono: "Roboto Mono", monospace;

  --fs-900: 4.75rem;
  --fs-800: 4rem;
  --fs-700: 3.125rem;
  --fs-500: 2rem;
  --fs-400: 1.125rem;
  --fs-300: 0.9375rem;
  --fs-200: 0.875rem;
  --fs-100: 0.75rem;

  --fw-regular: 400;
  --fw-medium: 500;
  --fw-bold: 700;
}

@media (min-width: 50rem) {
  :root{
    --fs-900: 8.75rem;
    --fs-800: 5rem;
    --fs-700: 3.75rem;
    --fs-500: 2.5rem;
  }
}

@media (min-width: 80rem) {
  :root{
    --fs-900: 10rem;
    --fs-800: 5rem;
    --fs-700: 3.75rem;
    --fs-500: 2.5rem;
  }
}


/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

html, body {
  height: 100%;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture,
svg {
  max-width: 100%;
  display: block;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* padding: 2rem 0; */
}

.web-section {
  padding: 0 1rem;
  transform: translateY(10px);
  opacity: 0;
  transition: 0.8s ease;
}

.web-section.no-pad {
  padding: 0;
}

@media (min-width: 50rem) {
  .web-section {
    padding: 0;
  }
}

footer.web-section {
  transform: none;
  opacity: 0;
  transition: 0.8s ease;
}

.web-section--visible {
  transform: translateY(0px);
  opacity: 1;
}

footer.web-section.web-section--visible {
  opacity: 1;
}

.whole-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header {
  width: 100%;
  position: relative;
}

header, main, footer {
  width: 100%;
  max-width: 93.75rem;
}

.nav-bar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 1.625rem 0 0 0;
}

.bar-1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-list {
  display: flex;
  gap: 1.6875rem;
}

.logo {
  font-family: var(--ff-dm-sans);
  font-size: 30px;
  font-weight: var(--fw-medium);
  text-decoration: none;
  color: var(--clr-accent-4);
  letter-spacing: calc(30px * -0.08);
}

.mobile-nav-toggle {
  display: none;
}

@media (min-width: 50rem) {
  body {
    padding: 0 2.5rem;
  }

  header {
    min-height: 9.25rem;
  }

  .nav-bar {
    flex-direction: row;
    align-items: center;
  }

  .primary-navigation {
    position: fixed;
    top: 1.1rem;
    left: 50%;
    background-color: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(0.95rem);
    display: flex;
    justify-content: space-between;
    transform: translateX(-50%);
    z-index: 100;
    padding: 1.25rem 1.5rem;
    border-radius: 12rem;
    border: none;
  }
  
  .primary-navigation li a {
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
    transition: 0.5s ease;
  }
  
  .primary-navigation li a:hover, .primary-navigation li a:active {
    color: var(--clr-accent-6);
  }

}

@media (max-width: 49.96875rem) {
  header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: 1000;
    filter: drop-shadow(0 0.2em 0.125rem rgba(0, 0, 0, 0.1));
  }
  
  .nav-bar {
    width: 100%;
    background-color: var(--clr-background-1);
    border-radius: 0 0 2rem 2rem;
    padding: 1.25rem;
  }
  
  .bar-1 {
    width: 100%;
  }
  
  .bar-2 {
    visibility: hidden;
    display: flex;
    flex-direction: column;
    align-items: start;
    max-height: 0;
    gap: 3.125rem;
    width: 100%;
    overflow: hidden;
    transition: none;
  }
  
  .bar-2[data-visible] {
    visibility: visible;
    max-height: 100vh;
    padding-bottom: 0.75rem;
    transition: max-height 0.6s ease;
  }

  .bar-2[data-visible] .nav-list{
    flex-direction: column;
    gap: 0;
    margin-top: 2rem;
  }

  .bar-2[data-visible] .primary-navigation {
    width: 100%;
  }

  .bar-2[data-visible] li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 5rem;
    border-top: var(--clr-divider) 2px solid;
  }
  
  .mobile-nav-toggle {
    display: block;
    cursor: pointer;
    background: transparent;
    border: 0;
    width: 1.125rem;
    padding: 0.5rem;
    background: center / contain no-repeat url(public/hamburger.png);
  }

  .mobile-nav-toggle[aria-expanded="true"] {
    background-image: url(public/cross.svg);
  }

  main {
    margin-top: 7.5rem;
  }
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 7.5rem;
  overflow: hidden;
}

.hero-text {
  text-align: center;
  padding: 0;
}

.green-rect {
  background-color: var(--clr-accent-3);
  border-radius: 1.875rem;
  position: relative;
  height: 22.625rem;
}

.green-rect img {
  width: 16.875rem;
  margin: auto;
  position: relative;
  top: -3.0625rem;
}

@media (min-width: 50rem) {
  .hero {
    gap: 8.75rem;
  }

  .green-rect img {
    width: 42.28125rem;
    top: -3.75rem;
  }
}

@media (min-width: 80rem) {
  .hero {
    gap: 15rem;
  }
  
  .green-rect img {
    width: 56.6875rem;
    top: -8.75rem;
  }
}

.lm-button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.125rem;
  padding: 0.875rem 1.375rem;
  background-color: var(--clr-accent-1);
  border-radius: 1000px;
}

.lm-button img {
  transition: transform 0.2s ease;
}

.lm-button:hover {
  background-color: var(--clr-accent-3);
}

.lm-button:hover img {
  transform: translateY(-0.25rem);
}

.partner-container {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  gap: 1.875rem;
  padding: 3.125rem 1rem;
}

.partner-list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.partner-list div {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.25rem;
}

.partner-list img {
  display: inline-block;
  width: 6.875rem;
  filter: brightness(0.6) saturate(1.5);
}

@media (min-width: 80rem) {
  .partner-list img {
    width: 7.125rem;
  }
}

.benefit-container {
  display: flex;
  flex-direction: column;
  padding: 5rem 0 6.25rem;
  gap: 3.125rem;
  border-top: 1px solid var(--clr-divider);
}

.benefit-content {
  display: flex;
  flex-direction: column;
  gap: 3.125rem;
}

.benefit-narration {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  gap: 1.875rem;
}

.benefit-list {
  display: grid;
  gap: 1.25rem;
  grid-template-columns: 1fr;
  padding-top: 2.5rem;
}

.benefit-item {
  /* flex: 0 0 100%; */
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  border-top: var(--clr-divider) 1.5px solid;
  padding: 2.5rem 1.25rem 2.5rem 0;
}

.benefit-text {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

.benefit-image {
  height: 38.75rem;
  overflow: hidden;
  border-radius: 1.875rem;
}

.benefit-image img{
  display: inline-block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (min-width: 50rem) {
  .benefit-container {
    padding-bottom: 7.5rem;
  }

  .benefit-narration {
    gap: 3.125rem;
  }
  
  .benefit-list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 80rem) {
  .benefit-list {
    grid-template-columns: repeat(4, 1fr);
  }
}

.product-value-container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  padding: 0 2rem 5rem;
}

.product-value-content {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  padding: 3.75rem 0 5rem;
  border-top: var(--clr-divider) 1.5px solid;
}

.product-value-narration {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

.product-value-item {
  display: flex;
  align-items: center;
  gap: 1.875rem;
  padding: 1.25rem 0;
  border-top: var(--clr-divider) 1.5px solid;
}

.button-container {
  display: flex;
  justify-content: start;
  align-items: center;
  text-align: center;
}

.product-value-image {
  border-radius: 1.875rem;
  overflow: hidden;
  height: 24.0625rem;
}

.product-value-image img {
  display: inline-block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (min-width: 50rem) {
  .product-value-container {
    gap: -0.75rem;
    padding: 0 0 5rem;
  }
  
  .product-value-item {
    padding: 1.25rem 5rem 1.25rem 0;
  }

  .product-value-image {
    height: 46.5rem;
  }
}

@media (min-width: 80rem) {
  .product-value-container {
    grid-template-columns: repeat(2, 1fr);
    gap: 1.25rem;
  }

  .product-value-image {
    height: auto;
  }
}

.feature-container {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  padding-bottom: 7.5rem;
  border-top: var(--clr-accent-6) 1.5px solid;
}

.feature-narration {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.875rem;
  padding: 5rem 1rem;
}

.feature-narration p {
  text-align: center;
}

.feature-table-container {
  width: 100%;
  overflow: auto;
  position: relative;
  padding-left: 0.5rem;
  border-radius: 1.25rem;
}

.feature-table {
  width: 210vw;
  table-layout: fixed;
  border-collapse: collapse;
}

.feature-table th {
  font-family: var(--ff-dm-sans);
  font-size: 26px;
  font-weight: var(--fw-medium);
  color: var(--clr-accent-5);
  text-align: center;
  letter-spacing: calc(26px * -0.08);
  line-height: calc(26px * 1.2);
  border-bottom: 1px solid var(--clr-accent-6);
  padding: 2.5rem 1.875rem;
}

.feature-table th:nth-child(1) {
  color: var(--clr-accent-4);
}

.feature-table td {
  border-bottom: 0.5px solid var(--clr-divider);
}

.feature-table tr td:last-child {
  border-left: 0.5px solid var(--clr-divider);
}

.feature-table tr:last-child td:nth-child(1) {
  border: none;
}

.feature-table td div {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
  padding: 2rem 1.875rem;
  width: max-content;
}

.feature-table td div p {
  white-space: nowrap;
}

.table-highlight {
  position: absolute;
  top: 4px;
  left: 2px;
  width: 70vw;
  height: 98.5%;
  background-color: none;
  pointer-events: none;
  transition: top 0.3s ease;
  border: 1px solid var(--clr-divider);
  border-radius: 1.25rem;
  z-index: 101;
  box-shadow: 0 0.125rem 0.5rem rgba(0,0,0,0.08);
}

@media (min-width: 50rem) {
  .feature-narration {
    padding: 5rem;
    gap: 2.5rem;
  }

  .feature-table-container {
    width: 100%;
    overflow: auto;
  }

  .feature-table {
    width: 100%;
  }

  .table-highlight {
    width: 33.3%;
  }
  
  .feature-table td div {
    padding: 2rem 1.25rem;
  }
}

@media (min-width: 80rem) {
  .feature-narration {
    padding: 5rem 15rem;
  }
}

.testimony-container {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  gap: 2.5rem;
  padding-bottom: 6.25rem;
}

.testimony-image {
  width: 100%;
  aspect-ratio: 1/1;
  flex-shrink: 0;
  border-radius: 1.875rem;
  overflow: hidden;
}

.testimony-image img {
  display: inline-block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.testimony-narration {
  display: flex;
  flex-direction: column;
  gap: 3.125rem;
  border-top: 1px solid var(--clr-divider);
  padding: 2.5rem 1rem 0;
}

.testimony-profile {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.testimony-profile p {
  display: flex;
  align-items: center;
}

@media (min-width: 50rem) {
  .testimony-container {
    padding-bottom: 7.5rem;
  }
  
  .testimony-narration {
    height: 23.5rem;
    justify-content: center;
  }
}

@media (min-width: 80rem) {
  .testimony-container {
    grid-template-columns: repeat(2, 1fr);
    gap: 1.25rem;
    align-items: start;
  }
  
  .testimony-narration {
    height: 100%;
    padding: 0 0 0 3.125rem;   
  }

  .testimony-image {
    aspect-ratio: 88 / 100;
  }

  .testimony-image img {
    object-fit: cover;
  }

  .testimony-profile {
    flex-direction: column;
    align-items: flex-start;
  }
}

.guide-container {
  border-top: 1px solid var(--clr-divider);
  display: flex;
  flex-direction: column;
  gap: 5rem;
  padding: 5rem 1rem 7.5rem;
}

.guide-narration {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2.5rem;
}

.guide-list {
  display: flex;
  gap: 1.25rem;
  /* flex-shrink: 0; */
  width: 100%;
  overflow: auto;
}

.guide-item {
  display: flex;
  flex-direction: column;
  /* flex-shrink: 0; */
  width: 50%;
  gap: 3.75rem;
  padding: 3.75rem 1.875rem 1.25rem 0;
  border-top: 1px solid var(--clr-divider);
}

.guide-text {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

@media (min-width: 50rem) {
  .guide-container {
    padding: 5rem 0 7.5rem;
    
  }

  .guide-narration {
    flex-direction: row;
    justify-content: space-between;
  }
}

.image {
  padding-bottom: 2.5rem;
}

.image img {
  display: inline-block;
  width: 100%;
  height: 37.5rem;
  object-fit: cover;
  border-radius: 1.875rem;
}

@media (min-width: 50rem) {
  .image img {
    height: 41.5625rem;
  }
}

@media (min-width: 80rem) {
  .image img {
    height: 100%;
    max-height: 51.875rem;
  } 
}

.cta-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2.5rem;
  padding: 7.5rem 1rem;
  border-top: 1px solid var(--clr-divider);
}

.cta-container p {
  text-align: center;
}

.cta-container a {
  align-self: stretch;
}

@media (min-width: 50rem) {
  .cta-container {
    padding: 7.5rem 6.25rem;
  }
}

@media (min-width: 80rem) {
  .cta-container {
    padding: 7.5rem 18.75rem;
  }
}

.footer-container {
  display: flex;
  flex-direction: column;
  gap: 5rem;
  border-top: 1px solid var(--clr-divider);
  width: 100%;
  padding: 2.5rem 1rem 1.25rem;
}

.footer-navigation {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 1.6875rem;
}

.footer-mark {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 2.5rem;
}

.footer-mark a img {
  display: block;
  height: 4.375rem;
}

.footer-mark :nth-child(2) {
  flex-grow: 1;
  display: flex;
  gap: 1rem;
}

@media (min-width: 50rem) {
  .footer-navigation {
    min-height: 2.5rem;
    flex-direction: row;
    align-items: center;
    gap: 1.6875rem;
  }
}

/* utility classes */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.discover-more-button {
  display: inline-block;
  padding: 0.875rem 1.375rem;
  background-color: var(--clr-accent-2);
  border-radius: 60rem;
}

.discover-more-button:hover, .discover-more-button:active {
  background-color: var(--clr-accent-3);

}

.text-display {
  font-family: var(--ff-crimson-text);
  font-size: var(--fs-900);
  font-weight: var(--fw-regular);
  line-height: calc(var(--fs-900) * 0.85);
  letter-spacing: calc(var(--fs-900) * -0.045);
}

.text-display-statistics {
  font-family: var(--ff-dm-sans);
  font-size: var(--fs-800);
  font-weight: var(--fw-regular);
  line-height: calc(var(--fs-800) * 1);
  letter-spacing: calc(var(--fs-800) * -0.04);
}

.text-heading-1 {
  font-family: var(--ff-crimson-text);
  font-size: var(--fs-700);
  font-weight: var(--fw-regular);
  line-height: calc(var(--fs-700) * 0.95);
  letter-spacing: calc(var(--fs-700) * -0.03);
}

.text-heading-2 {
  font-family: var(--ff-crimson-text);
  font-size: var(--fs-500);
  font-weight: var(--fw-regular);
  line-height: calc(var(--fs-500) * 1.1);
  letter-spacing: calc(var(--fs-500) * -0.04);
}

.text-heading-3 {
  font-family: var(--ff-crimson-text);
  font-size: var(--fs-400);
  font-weight: var(--fw-regular);
  letter-spacing: calc(var(--fs-400) * -0.03);
}

.text-paragraph {
  font-family: var(--ff-dm-sans);
  font-size: var(--fs-300);
  font-weight: var(--fw-regular);
  /* line-height: calc(var(--fs-300) * 1.4); */
  letter-spacing: calc(var(--fs-300) * -0.005);
}

.text-paragraph-bold {
  font-family: var(--ff-dm-sans);
  font-size: var(--fs-300);
  font-weight: var(--fw-bold);
  line-height: calc(var(--fs-300) * 1.4);
  letter-spacing: calc(var(--fs-300) * -0.005);
}

.text-link {
  font-family: var(--ff-dm-sans);
  font-size: var(--fs-200);
  font-weight: var(--fw-bold);
  text-decoration: none;
  line-height: calc(var(--fs-200) * 1.4);
  letter-spacing: calc(var(--fs-200) * -0.025);
}

.text-caption {
  font-family: var(--ff-roboto-mono);
  font-size: var(--fs-100);
  font-weight: var(--fw-regular);
  line-height: calc(var(--fs-100) * 1.4);
  letter-spacing: calc(var(--fs-100) * -0.03);
}

@media (min-width: 50rem) {
  .text-display {
    line-height: calc(var(--fs-900) * 0.80);
    letter-spacing: calc(var(--fs-900) * -0.05);
  }
  
  .text-heading-1 {
    line-height: calc(var(--fs-700) * 0.90);
    letter-spacing: calc(var(--fs-700) * -0.03);
  }
  
  .text-caption {
    letter-spacing: calc(var(--fs-100) * -0.01);
  }
}

@media (min-width: 80rem) {
  .text-display {
    letter-spacing: calc(var(--fs-900) * -0.05);
  }

  .text-heading-1 {
    line-height: calc(var(--fs-700) * 0.9);
  }

  .text-heading-2 {
    line-height: calc(var(--fs-500) * 1.05);
  }
}

.bg-neutral-1 {
  background-color: var(--clr-background-1);
}

.bg-accent-1 {
  background-color: var(--clr-accent-1);
}

.bg-accent-2 {
  background-color: var(--clr-accent-2);
}

.bg-accent-3 {
  background-color: var(--clr-accent-3);
}

.bg-accent-4 {
  background-color: var(--clr-accent-4);
}

.bg-accent-5 {
  background-color: var(--clr-accent-5);
}

.bg-accent-6 {
  background-color: var(--clr-accent-6);
}

.clr-text-headline {
  color: var(--clr-headline);
}

.clr-text-paragraph {
  color: var(--clr-paragraph);
}

.clr-text-caption {
  color: var(--clr-caption);
}

.clr-text-link {
  color: var(--clr-link);
}

.clr-text-link:hover, .clr-text-link:active {
  color: var(--clr-accent-6);
}

.clr-text-on-accent-1 {
  color: var(--clr-on-accent-1);
}

.border-divider {
  border-color: var(--clr-divider);
}